/musicdatabase/spotifysecrets.py
/musicdatabase/MillionSongSubset/
musicdatabase/__pycache__/spotifysecrets.cpython-313.pyc
.DS_Store
musicdatabase/.cache
/musicdatabase/spotifysecrets.py
*.zip
/
musicdatabase/__pycache__/hdf5_getters.cpython-313.pyc
/images/data_256/
/images/test_256/
/images/cafetest.jpg
images/data/
.venv
efficientnet_finetuned.pth
matching/songs_lyrics_adjusted.csv
matching/songs.db
matching/song_lyrics.index
backend/matching/songs_lyrics_adjusted.csv
backend/matching/song_lyrics.index
