git /musicdatabase/spotifysecrets.py
/musicdatabase/MillionSongSubset/
musicdatabase/__pycache__/spotifysecrets.cpython-313.pyc
.DS_Store
musicdatabase/.cache
/musicdatabase/spotifysecrets.py
*.zip
/
musicdatabase/__pycache__/hdf5_getters.cpython-313.pyc
/images/data_256/
/images/test_256/
/images/cafetest.jpg
images/data/
.venv
efficientnet_finetuned.pth
matching/songs_lyrics_adjusted.csv
matching/songs.db
matching/song_lyrics.index
backend/matching/songs_lyrics_adjusted.csv
backend/matching/song_lyrics.index
backend/images/best_efficientnet.pth
backend/images/classmapping.csv
backend/images/efficientnet_finetunedfull.pth
backend/matching/songs.db
backend/apicode/uploads/
*.pyc
backend/matching/song_lyrics2.index
.gitignore
*.db
backend/matching/spotify_millsongdata.csv
backend/matching/hot100lyrics.csv
backend/matching/hot.csv
backend/matching/combined_output.csv
.gitignore
*__pycache__
uploads/dummy.jpg
uploads/test.jpg
